<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> TODO </th>
        <td mat-cell *matCellDef="let todo"> {{todo.message}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let todo"> {{todo.catname}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> When was it created? </th>
        <td mat-cell *matCellDef="let todo"> {{todo.created | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef> Is it done? </th>
        <td mat-cell *matCellDef="let todo"> {{todo.done ? 'Yes' : 'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="doneTime">
        <th mat-header-cell *matHeaderCellDef> When was it done? </th>
        <td mat-cell *matCellDef="let todo"> {{todo.doneTime | date:'medium'}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<ng-template #content let-modal>
    <div class="modal-header">
      <h1>
        Edit TODO
      </h1>
      <button type="button" class="close" aria-label="Close" (click)="clearAndDismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>TODO:</label>
          <div class="input-group">
            <input [(ngModel)]="message" [readOnly]="done" name="message" class="modal-field"/>
          </div>
          <div style="padding-top: 20px;" class="input-group">
            Is it done?<input style="margin: 2px 0 0 10px;" type="checkbox" [disabled]="done" [(ngModel)]="done" name="done"/>
          </div>
          <div style="padding-top: 20px;" class="input-group">
            <div>This todo was created: {{created | date:'medium'}}</div>
          </div>
          <div style="padding-top: 20px;" class="input-group">
            <div>{{!origDone ? 'This TODO is not yet finished' : 'This todo was finished at ' + doneTime}}</div>
          </div>
          <button [disabled]="done || origDone === done && origMessage === message"  (click)="sendEdit()">Edit</button>
          <div>{{origDone ? 'TODOs cannot be edited once they are set to done' : ''}}</div>
        </div>
      </form>
    </div>
  </ng-template>