.add-todo-button-div {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    padding: 2.5px 2.5px 0 0;
}

.add-todo-button {
    background-color: rgb(66, 66, 66);
    border: 2px solid white ;
    color: white;
    border-radius: 25px;
    width: 200px;
    min-height: 50px;
}

.modal-field {
    margin-bottom: 10px;
}

label {
    margin-bottom: 0px;
}

.modal-header {
    padding-bottom: 0;
}

.close {
    padding-bottom: 25px;
}

select {
    padding-top: 35px;
}